<div id="title" class="title">
  <h1>Most Reviewed Restaurants</h1>
  <br><br>
</div>

<div id="restaurant-list" class="restaurant-list">
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3> <h4><%= restaurant.reviews.count %> reviews</h4><br><br>
  <% end %>
</div>
