<div id="title" class="title">
  <h1 class="title">Neighborhoods</h1>
  <br><br>
</div>

<div id="neighborhood-list" class="neighborhood-list">
  <% @neighborhoods.each do |neighborhood| %>
    <h2><p class="lead"><%= link_to neighborhood.name, neighborhood_path(neighborhood) %></p></h2>
  <% end %>
</div>
